<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370200859713-o60880i9hbu7g82rqjb2o2j7g8ei39pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370200859713-o60880i9hbu7g82rqjb2o2j7g8ei39pp</string>
	<key>API_KEY</key>
	<string>AIzaSyDoae4XPWk_QR6j_3T0F7nRkYdiLNiz6vg</string>
	<key>GCM_SENDER_ID</key>
	<string>370200859713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koo.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-7283e</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-7283e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370200859713:ios:bcf1cf5d67722a619c22c0</string>
</dict>
</plist>